body {
    background: #ffffff font-family: 'Open Sans', sans-serif;
    color: #666666;
    line-height: : 1.7em;
    text-align: left;
}

#screen_width {
    position: absolute;
    top: -5px;
    left;
    0;
    color: #fff;
    font-size: 10px;
}

.container {
    margin: 0 auto;
    width: 100%;
    overflow: auto;
    clear: both;
}

body,
html {
    height: 100%;
}

.main-header {
    border-top: #F09D51 15px solid;
    background: #E0DFD5;
    overflow: auto;
    width: 100%;
}

.main-header .main-nav {
    width: 70%;
    float: right;
    padding-top: 20px;
}

.main-header .main-nav ul {
    float: right;
}

.main-nav ul li {
    float: left;
    display: inline;
    margin-right: 3px;
}

.main-nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    transition: padding 1s;
}

.main-nav ul li a:hover,
.main-nav ul li a.active {
    border-bottom: #F09D51 solid 2px;
    padding-bottom: 20px;
}

.box {
    float: right;
    width: 350px;
    height: 250px;
    overflow: auto;
    padding-top: 20px;
    padding-right: 150px;
    padding-left: 100px;
}

.box img {
    float: left;
    padding: 5px 10px 0 0;
    width: 70%;
    height: 85%;
    border: #000000 1px solid;
}
.banner {
    max-height: 400px;
    background-image: linear-gradient(to right,##215f00,#E8E9EB);
}
.mySlides {
    width: 100%;
    height: 100%;
}

.main {
    margin: 0 auto;
    width: 100%;
    overflow: auto;
    clear: both;
}

footer {
    background: #313638;
    margin-top: 10px 0 10px 0;

}

footer p {
    color: #ffffff;
    margin: 0;
    padding-left: 5px;
    padding-right: 15px;
    text-align: right;
}

.cop {
    color: white;
    margin: 0 auto;
    text-align: center;
}
